// Margin utilities (px)
@for $i from 1 through 500 {
    .m#{$i} {
        margin: #{$i}px;
    }
}

@for $i from 1 through 500 {
    .mt-#{$i} {
        margin-top: #{$i}px;
    }
}

@for $i from 1 through 500 {
    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }
}

@for $i from 1 through 500 {
    .ml-#{$i} {
        margin-left: #{$i}px;
    }
}

@for $i from 1 through 500 {
    .mr-#{$i} {
        margin-right: #{$i}px;
    }
}
