// Padding utilities (px)
@for $i from 1 through 500 {
    .p#{$i} {
        padding: #{$i}px;
    }
}

@for $i from 1 through 500 {
    .pt-#{$i} {
        padding-top: #{$i}px;
    }
}

@for $i from 1 through 500 {
    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }
}

@for $i from 1 through 500 {
    .pl-#{$i} {
        padding-left: #{$i}px;
    }
}

@for $i from 1 through 500 {
    .pr-#{$i} {
        padding-right: #{$i}px;
    }
}
