@function calculatePercentage($value) {
    @return $value * 1%;
}

// Width utilities (px)
@for $i from 10 through 2000 {
    .w-#{$i}px {
        width: #{$i}px !important;
    }
}
// Width utilities (%)
@for $i from 1 through 100 {
    $percentage: calculatePercentage($i);
    .w-#{$i}\% {
        width: $percentage !important;
    }
}
// Height utilities (px)
@for $i from 10 through 2000 {
    .h-#{$i}px {
        height: #{$i}px !important;
    }
}

// Height utilities (%)
@for $i from 1 through 100 {
    $percentage: calculatePercentage($i);
    .h-#{$i}\% {
        height: $percentage !important;
    }
}
