@use 'sass:color';
@use '../general/variables';

.carousel {
	display: block;
	margin: 0 auto;
	width: 900px;
	position: relative;
	&-indicators {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 150;
		display: flex;
		justify-content: center;
		margin-right: 15%;
		margin-left: 15%;
		list-style: none;
		li {
			box-sizing: content-box;
			flex: 0 1 auto;
			width: 30px;
			height: 6px;
			margin-right: 3px;
			margin-left: 3px;
			cursor: pointer;
			background-color: #fff;
			background-clip: padding-box;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			opacity: .5;
			transition: opacity .6s ease;
		}
		.active {
			opacity: 1;
		}
	}
	&-inner {
		width: 100%;
		height: 500px;
		position: relative;
		overflow: hidden;
	}
	&-slides {
		height: 100%;
		display: flex;
		transition: transform 0.5s ease;
	}
	&-item {
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-prev, &-next {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15%;
		color: #fff;
		opacity: 0.5;
		text-align: center;
		transition: opacity 0.15s ease, background 0.3s ease;
		text-decoration: none;
		&:hover {
		  opacity: 0.8;
		  background-color: rgba(0,0,0, .2);
		}
	  }
	&-prev {
		left: 0;
		// &:hover {
		// 	background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
		//   }
	}
	&-next {
		right: 0;
		// &:hover {
		// 	background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
		//   }
	}
}