@use "sass:color";
@use "../general/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    // add if scroll would have needed
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: background 0.3s, color 0.3s;
}

.container {
    max-width: 1440px;
    padding: 0px 15px;
    margin: 0 auto;
    margin-top: 52px;
}

.secondContainer {
    position: relative;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 55px;
    background: #343a40;
    z-index: 100;
}

.modal-dialog {
    margin-right: calc(-1 * (100vw - 100%));
}
