$primary: #025fff;
$success: #2a9924;
$danger: #ea2e41;
$warning: #ffc907;
$dark: #343a40;
$light: #e3f2fd;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
